<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 定义日志目标 -->
  <targets>
    <!-- 文件日志目标 -->
    <target xsi:type="File" name="file" fileName="logs/logfile.txt"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=ToString,StackTrace}${newline}" />

    <!-- 控制台日志目标 -->
    <target xsi:type="Console" name="console"
           layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=ToString,StackTrace}${newline}" />

  </targets>  

  <!-- 定义日志规则 -->
  <rules>
    <!-- 将PostController的所有日志级别的信息输出到文件 -->
    <logger name="Microsoft.AspNetCore.*" maxlevel="Warning" final="true"/>
    <!-- 将所有日志级别的信息输出到文件 -->
    <logger name="*" minlevel="Info" writeTo="file" />
    <!-- 将所有日志级别的信息输出到控制台 -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>